fastapi[all]==0.111.0 # Includes pydantic, starlette, uvicorn
uvicorn==0.30.1
sqlalchemy==2.0.30
asyncpg==0.30.0
alembic==1.13.1
pydantic-settings==2.2.1
bcrypt==4.1.3
pyjwt==2.8.0
httpx==0.27.0
pytest>=8.2.2
pytest-asyncio>=0.23.7
